<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Jogo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 p-4">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Novo Jogo 🎮</h2>

                    <form th:action="@{/salvar}" th:object="${game}" method="post">
                        <input type="hidden" th:field="*{id}">

                        <div class="mb-3">
                            <label class="card-title fw-bold">Título</label>
                            <input type="text" th:field="*{titulo}"
                                class="form-control bg-dark text-white border-secondary" placeholder="Ex: Elden Ring"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Plataforma</label>
                            <select th:field="*{plataforma}" class="form-select bg-dark text-white border-secondary" required>
                                <option value="" disabled selected>Selecione uma plataforma</option>
                                <option value="PS1">PS1</option>
                                <option value="PS2">PS2</option>
                                <option value="PS3">PS3</option>
                                <option value="PS4">PS4</option>
                                <option value="PSP">PSP</option>
                                <option value="Nintendo Switch">Nintendo Switch</option>
                                <option value="Nintendo 3DS">Nintendo 3DS</option>
                                <option value="Nintendo DS">Nintendo DS</option>
                                <option value="PC">PC</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Gênero</label>
                            <select th:field="*{genero}" class="form-select bg-dark text-white border-secondary"
                                required>
                                <option value="" disabled selected>Selecione um gênero</option>
                                <option value="Ação">Ação</option>
                                <option value="Aventura">Aventura</option>
                                <option value="RPG">RPG</option>
                                <option value="FPS / Tiro">FPS / Tiro</option>
                                <option value="Esporte">Esporte</option>
                                <option value="Corrida">Corrida</option>
                                <option value="Luta">Luta</option>
                                <option value="Plataforma">Plataforma</option>
                                <option value="Puzzle / Quebra-cabeça">Puzzle</option>
                                <option value="Estratégia">Estratégia</option>
                                <option value="Terror">Terror</option>
                                <option value="Terror">Arena Battle</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" th:field="*{zerado}" class="form-check-input" id="zeradoCheck">
                            <label class="form-check-label" for="zeradoCheck">Já zerou este jogo? ✅</label>
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" th:field="*{platinado}" class="form-check-input" id="platinadoCheck">
                            <label class="form-check-label" for="platinadoCheck">Já platinou este jogo? 🏆</label>
                        </div>

                        <div class="d-grid gap-2 d-md-block mt-4">
                            <button type="submit" class="btn btn-success px-4">Salvar Jogo</button>
                            <a href="/" class="btn btn-secondary px-4">Cancelar</a>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</body>

</html>